.sla path {
  stroke: #fff;
  stroke-width: 0.1px;
}

.axis path {
  fill: none;
  stroke: #C0C0C0;
}

.axis text {
  font-size: 9px;
}

.legendtext {
  font-size: 10px;
  stroke-width: 0.75px;
}

#tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: yellow;
  font-size: 12px;
}
