.amp {
    font-size: 1.05em;
    font-family: "Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",serif;
    font-style: italic;
}

body {
    background-color: #FFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}

.badge-info {
    background-color: #3A87AD;
}
.badge {
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 9px;
}

blockquote {
    margin-left: 0px;
    border-left: 2px solid #CCC;
    padding-left: 1em;
}

.caps {
    font-size: 0.92em;
}

nav {
    display: block;
}

.nav {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #D4D4D4;
    border-radius: 0px;
    border-width: 0px 0px 1px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
    background-repeat: repeat-x;
}

span.icon-nav { 
    display: none;
}

@media(max-width:500px) {
    span.text-nav {
        display: none;
    }
    span.icon-nav {
        display: inherit;
    }
    .nav a {
        padding-right: 0.3em;
	width: 50%;
    }
    .c2 {
        display: none;
    }
}

@media(max-width:870px) {
    .c2 {
        display: none;
    }
}

.nav a {
    color: #777;
    text-shadow: 0px 1px 0px #FFF;
    text-decoration: none;
}

.nav .active {
    color: #333;
    text-decoration: none;
}

.brand {
    font-size: 1.4em;
    font-weight: 200;
    color: #777;
    text-shadow: 0px 1px 0px #FFF;
}

.label, .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 1emx;
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
}

ul, ol {
    padding: 0px;
    margin: 0px 0px 10px 25px;
}
.content hr {
    border-image: none;
    border-width: 1px 0px;
    border-style: solid none;
    border-color: #EEE -moz-use-text-color #FFF;
}

.postbox {
    border-bottom: 2px solid #A9A9A9;
    margin-bottom: 12px;
}

.footerbox {
    padding: 5px 15px;
    text-align: center;
    margin-bottom: 10px;
}

.pager {
    text-align: center;
    list-style: outside none none;
    margin: 20px 0px;
}

.pager li {
    display: inline;
}

.pager .previous > a {
    float: left;
}

.pager .next > a {
    float: right;
}

.pager li a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 15px;
}
.pager:after {
    clear: both;
}
.pager:before, .pager:after {
    display: table;
    line-height: 0;
    content: "";
}

.row {
    margin: 0% 0px;
}

a {
    color: #08C;
    text-decoration: none;
}

span.dateline {
    font-size: 0.8em;
}

/* previously in custom.css */
h1 {
    font-size: 1.8em !important;
    line-height: 1.5em !important;
}
h1 small {
    font-size: 1em !important;
 }
h2 {
    font-size: 1.3em !important;
    line-height: 1.5m !important;
}
h3 {
    font-size: 1em !important;
    line-height: 1.5em !important;
}

*/ from rst.css */
pre.literal-block, pre.code {
    margin-left: 2em;
    margin-right: 2em
}
