/* Some styles lifted from mincss - Copyright 2014 Owen Versteeg; MIT licensed */

a {
    color: #08C;
    text-decoration: none;
}

body {
    background:0;
    border-radius:0;
    font:1em sans-serif;
    margin:0;
    background-color: #FFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #333;
}

blockquote {
    margin-left: 0;
    border-left: 0.2em solid #CCC;
    padding-left: 1em;
}

h1 {
    font-size: 1.8em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.3em;
    line-height: 1.5em;
}

h3 {
    font-size: 1em;
    line-height: 1.5em;
}

img.ri {
    width: 100%;	
}

nav {
    display: block;
}

/* from rst.css */
pre.literal-block, pre.code {
    margin-left: 2em;
    margin-right: 2em;
}

.dateline {
    font-size: 0.8em;
    margin: 0;
}

span.icon-nav { 
    display: none;
}

p.vcard {
    display: none;
}

ul, ol {
    padding: 0;
    margin: 0 0 0.625em 1.5em;
}

.amp {
    font-size: 1.05em;
    font-family: "Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",serif;
    font-style: italic;
}
.badge {
    border-radius: 0.5em;
    display: inline-block;
    padding: 0.2em 0.5em;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1em;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
}

.badge-info {
    background-color: #3A87AD;
}

.brand {
    font-size: 1.4em;
    font-weight: 200;
    color: #777;
}

.c12{width:100%}
.c11{width:91.66%}
.c10{width:83.33%}
.c9{width:75%}
.c8{width:66.66%}
.c7{width:58.33%}
.c6{width:50%}
.c5{width:41.66%}
.c4{width:33.33%}
.c3{width:25%}
.c2{width:16.66%}
.c1{width:8.33%}

.col{
	float:left;
}

#content {
	margin:0 1.25em;
	width:auto;
}

#content hr {
    border-image: none;
    border-style: solid none;
    border-color: #EEE;
}

#footer {
    padding: 0.25em 0.95em;
    text-align: center;
    margin-bottom: 0.625em;
}

.nav {
    outline:0;
    font-size:0.875em;
    height:1.5em;
    padding:0.625em 0 0.95em;
    box-shadow: 0 0.1em 0.625em rgba(0, 0, 0, 0.1);
    border: 1px solid #D4D4D4;
    border-radius: 0;
    border-width: 0 0 1px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
    background-repeat: repeat-x;
}

.nav,.nav .current,.nav a:hover{
	color:#333;
}

.nav a{
    padding-right:1em;
    position:relative;
    color: #777;
    text-decoration: none;
}

.nav .active {
    color: #333;
    text-decoration: none;
}

.nav .pagename{
    font-size:1.4em;
    top:1px;
}

.pager {
    text-align: center;
    list-style: outside none none;
    margin: 1.25em 0;
}

.pager:after {
    clear: both;
}

.pager:before, .pager:after {
    display: table;
    line-height: 0;
    content: "";
}

.pager li {
    display: inline;
}

.pager li a {
    display: inline-block;
    padding: 0.25em 0.875em;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 0.95em;
}

.pager .next > a {
    float: right;
}

.pager .previous > a {
    float: left;
}

li.previous > a:before {
    content: "\2190\0020";
}

#footer > p {
    display: none;
}

.listdate:after {
    content: " - ";
}

.postbox {
    border-bottom: 0.1em solid #A9A9A9;
    margin-bottom: 0.75em;
}

.row {
    overflow:auto;
}

.table{
    width:100%;
}

.table th,.table td{
    padding:.5em;
    text-align:left;

}
.table tbody>:nth-child(2n-1){
    background:#ddd;
}

div.metadata {
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
    padding: 5px 0 5px 0;
}

ul.tags {
    display: inline;
    list-style: none;
    margin-left: 0;
}

ul.tags > li {
    display: inline;
}

nav > ul.tags {
    display: none;
}

@media(max-width:30em) {
    span.icon-nav {
        display: inherit;
    }
    span.text-nav {
        display: none;
    }
    .c2 {
        display: none;
    }
    .nav{
        overflow:hidden;
    }
    .nav:active,.nav:focus{
        height:auto;
    }
    .pagename{
        margin-top:-0.625em;
    }
}

@media(max-width:50em) {
    .c2 {
        display: none;
    }
    .row .col{
        width:100%;
    }
}

@media(min-width:80em){
    #content {
        margin:auto;
        width:77em;
    }
}
