{% if image_set is defined %}
<a href="https://images.wordspeak.org/{{ image_set }}" title="{{ title }}">
{% endif %}
{% if href is defined %}
<a href="{{ href }}" title="{{ title }}">
{% endif %}
 <img class="ri"
   src="https://res.cloudinary.com/wordspeak/image/upload/f_auto%2Cq_auto%2Cw_375/{{ cloudinary_id }}"
   sizes="(max-width: 50em) 100vw,
          (min-width: 50em) 66vw"
   srcset="https://res.cloudinary.com/wordspeak/image/upload/f_auto%2Cq_auto%2Cw_180/{{ cloudinary_id }} 180w,
           https://res.cloudinary.com/wordspeak/image/upload/f_auto%2Cq_auto%2Cw_375/{{ cloudinary_id }} 375w,
           https://res.cloudinary.com/wordspeak/image/upload/f_auto%2Cq_auto%2Cw_768/{{ cloudinary_id }} 768w,
           https://res.cloudinary.com/wordspeak/image/upload/f_auto%2Cq_auto%2Cw_1536/{{ cloudinary_id }} 1536w"
   alt="{{ title }}">
{% if image_set is defined %}
</a>
{% endif %}
{% if href is defined %}
</a>
{% endif %}
