## -*- coding: utf-8 -*-
<%namespace file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${html_head()}
    <%block name="extra_head">
    </%block>
</head>
<body>
<!-- Menubar -->
<nav class="nav" onclick="this.focus()" tabindex="-1">
    <div class="container">
	<a class="brand" href="${abs_link('/')}">${blog_title}</a>
        ${html_sidebar_links()}
    </div>
</nav>
<button class="btn btn-sm btn-close">×</button>
<!-- End of Menubar -->
<!--Body content-->
<div class="container">
  <div class="content">
    <div class="row">
        <div class="col c2">&nbsp;</div>
        <div class="col c8">
             <div class="postbox">
                 <%block name="content"></%block>
             </div>
        </div>
        <div class="col c2"></div>
    </div>
  </div>
</div>
<!--End of body content-->
<div class="footerbox">
    ${content_footer}
</div>
</body>
