## -*- coding: utf-8 -*-
<%def name="html_head()">
    <meta charset="utf-8">
    <meta name="description" content="${description}" >
    <meta name="author" content="${blog_author}">
    <title>${title|h} | ${blog_title|h}</title>
    ${mathjax_config}
    <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
    %if rss_link:
        ${rss_link}
    %else:
        %if len(translations) > 1:
            %for language in translations:
                <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, language)}">
            %endfor
        %else:
            <link rel="alternate" type="application/rss+xml" title="RSS" href="${_link('rss', None)}">
        %endif
    %endif
    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif
</%def>

<%def name="late_load_js()">
    <script src="/assets/js/all-nocdn.js" type="text/javascript"></script>
</%def>

<%def name="html_sidebar_links()">
    %for url, text in sidebar_links[lang]:
        % if rel_link(permalink, url) == "#":
            <a class="active" href="${url}">${text}</a>
        %else:
            <a href="${url}">${text}</a>
        %endif
    %endfor
</%def>


<%def name="html_translations()">
    %for langname in translations.keys():
        %if langname != lang:
            <a href="${_link("index", None, langname)}">${messages("LANGUAGE", langname)}</a>
        %endif
    %endfor
</%def>
