## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>

<%def name="html_title()">
%if title and not post.meta('hidetitle'):
    <h1 class="p-name entry-title" itemprop="headline name">${title|h}</h1>
%endif
</%def>

## Pinched from post_helper
<%def name="html_tags(post)">
    %if post.tags:
        %for tag in post.tags:
           <a class="tag p-category" href="${_link('tag', tag)}" rel="tag"><span class="badge badge-info">${tag}</span></a>
        %endfor
    %endif
</%def>

## Pinched from post_helper
<%def name="html_pager(post)">
    %if post.prev_post or post.next_post:
        <ul class="pager">
        %if post.prev_post:
            <li class="previous">
                <a href="${post.prev_post.permalink()}" rel="prev" title="${post.prev_post.title()}">← ${messages("Previous post")}</a>
            </li>
        %endif
        %if post.next_post:
            <li class="next">
                <a href="${post.next_post.permalink()}" rel="next" title="${post.next_post.title()}">${messages("Next post")} →</a>
            </li>
        %endif
        </ul>
    %endif
</%def>

<%def name="html_translations(post)">
    % if len(translations) > 1:
        <div class="metadata posttranslations translations">
            <h3 class="posttranslations-intro">${messages("Also available in:")}</h3>
            % for langname in translations.keys():
                % if langname != lang and post.is_translation_available(langname):
                <p><a href="${post.permalink(langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></p>
                % endif
            % endfor
        </div>
    % endif
</%def>

<%def name="html_sourcelink()">
    % if show_sourcelink:
        <p class="sourceline"><a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a></p>
    % endif
</%def>

<%def name="html_post_header()">
    <header>
        ${html_title()}
        <hr>
        <div class="metadata">
            <span class="dateline">Posted: <time class="published dt-published" datetime="${post.date.isoformat()}" itemprop="datePublished" title="${post.formatted_date(date_format)}">${post.formatted_date(date_format)}</time> | More posts about ${html_tags(post)}</span>
            % if not post.meta('nocomments') and site_has_comments:
                <p class="commentline">${comments.comment_link(post.permalink(), post._base_path)}
            % endif
            ${html_sourcelink()}
            % if post.meta('link'):
                    <p><a href='${post.meta('link')}'>${messages("Original site")}</a></p>
            % endif
            %if post.description():
                <meta name="description" itemprop="description" content="${post.description()}">
            %endif
        </div>
        <hr>
        ${html_translations(post)}
    </header>
</%def>
